@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');
*{
  font-family: 'Nunito', sans-serif;
}
body{
  padding: 0px;
  margin: 0px;

}
nav{
  display: inline-block;
  width: 100%;
}
nav ul{
  float: right;
  margin-top: 40px;
  margin-right: 100px;

}
nav ul li{
  float: left;
  margin-left: 50px;
  display: inline-block;
  padding: 0px;
  font-size: 26px;

}
nav ul li a{
      text-decoration: none;
      color: black;

      background-image: linear-gradient(120deg, #FFBC7A 0%, #FFBC7A 100%);
      background-repeat: no-repeat;
      background-size: 100% 0.0em;
      background-position: 0 80%;
      transition: 0.1s ease-in-out 0.01s;
}
nav ul li a:hover{
  background-size: 100% 0.4em;
}
nav img{
  float: left;
  width: 200px;
  margin-left: 100px;
  margin-top: 20px;
}

.user{
  margin-top: 0px;

  color: white;
  float: right;
  padding-top: 10px;
  margin-right: 20px;



}
.logout{
  margin-top: 0px;

  color: black;
  float: right;
  padding-top: 10px;
  margin-right: 100px;
  text-decoration: none;

}
.bar{
  top: 0px;
  height: 40px;
  background-color: #5D97FF;
  width: 100%;


}
.bar img{
  width: 15px;
  margin-top: 12px;
  margin-right: 10px;
  float: right;

}


.sign-up{

}

.Hero{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 70px;


}
.left{
  width: 50%;
  vertical-align: top;
  display: inline-block;
}

h1{

  font-weight: 500;
}

.u1{

  background-image: linear-gradient(120deg, #FFBC7A 0%, #FFBC7A 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.4em;
  background-position: 0 75%;

}
.u2{
  background-image: linear-gradient(120deg, #E5EEFF 0%, #E5EEFF 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.4em;
  background-position: 0 75%;
}

.left img{
  width: 70%;

}

.right{

  float: right;
  width: 50%;
  vertical-align: top;
  display: inline-block;


}

.login-form {
  float: right;
  background: #FFFFFF;
  box-shadow: 0 2px 30px 0 rgba(0,0,0,0.12);
  top: 50%;
  left: 50%;
  text-align: center;
  width: 80%;
  height: 400px;
  margin-top: 30px;
  border-radius: 5px;

}

.login-form h1 {
  font-weight: 550;
  margin-bottom: 40px;
}

input {
  border-color: black;
  width: 70%;
  display: inline-block;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid black;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 17px;
}

.form-btn{

width: 70%;
color: white;
padding: 10px 20px;
margin: 2px 0px;
border: none;
cursor: pointer;
background: #5D97FF;
box-shadow: 0 3px 15px 0 #8CB3F9;
border-radius: 3px;
font-size: 17px;
font-weight: 500;


}

.form-btn:hover{
background: #FFFFFF;
color: #5D97FF;
border: solid;
border-width: 2px;
box-shadow: none;
margin: 0px;

}

.error{
  color: red;
  font-size: 15px;
}

footer{
  width: 100%;
  align-items: center;
  text-align: center;
  margin-top: 100px;

}

.foorer-main{
  display: inline;


}

.footer-main img{
      display: block;
      margin-left: auto;
      margin-right: auto;



}
